################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KEYPRACT/.vs/KEYPRACT/FileContentIndex/3d825f9d-422d-4035-8914-dcdac94a6eab.vsidx
